* {
    background-color: transparent;
    font-family: 'Montserrat-bold', sans-serif;
}

a {
    color:white;
    text-decoration: none; /* no underline */
    cursor:pointer;
  }

body {
    margin:0;
}

h1{
    font-size: 90px;
    margin-top:0;
}

h2 {
    display: flex;
    justify-content: center;
}

h3 {
    margin-top: 0;
    margin-bottom: .1rem;
    font-size: 25px;
}

ul {
    list-style: none;
    margin: 0;
    padding:0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
}

.values{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:10rem;
    padding-bottom:10rem;
}

.valueBoxes{
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: solid white;
}

.rowBoxes{
    margin-left: 10px;
    margin-right: 10px;

}

.valueMain {
    font-size: 125px;
}

.valueSub {
    font-size: 24px;
}

.padding2 {
    margin-left: 10px;
    transition:background 0.5s
}

.padding2:hover {
    background: #e61878;
}
.invert{
    background:#1F1E29;   
    color: white;
}

.buttonSize {
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 0.65px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 0px 0px 0px 0px;
    padding: 10px 56px 10px 56px;
    cursor:pointer;
}

.mainMargin{
    margin-right: auto;
    margin-left: auto;
    position: sticky;
    max-width: 1364px;
}

#topButton{
    background:#1F1E29;   
    color: white;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 0.65px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 0px 0px 0px 0px;
    padding: 10px 56px 10px 56px;
    cursor:pointer;
    transition: background 0.5s;

}

#topButton:hover{
    background: #E61878;
}


.button2{
    border: 2px solid #1F1E29;
}



#bannerButton {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: #FFFFFF;
    border-style: solid;
    border-color: #FFFFFF;
    padding: 38px 70px 38px 70px;
    cursor:pointer;
}

#between{
    justify-content: space-between;
    align-items: center;
}

#figuresText{
    padding-bottom:2rem;
    font: white;
}

#ourServices{
    font-size: 56px;
    font-weight: 500;
    color: #EB0F78;
}

#whatWeDo {
    color: #1F1E29;
    font-size: 125px;
    font-weight: 700;
    letter-spacing: -5px;

    padding: 0;
    margin: 0;
    line-height: 1;
}

#hoverOverMe {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.8px;
}

#whiteOnPink{
    background-color:#EB0F78;
    font: white ;
}

#aboutUsSection{
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px 100px 20px 60px;
    padding: 30px;
}

#sh1{
    font-size: 48px;
    font-weight: 700;
}

#p2{
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

#clickHere {
    background-color:   #1F1E29;
    padding: 15px;
    border: 1px solid rgba(0,0,0,.02);
    font-weight: 600;
    line-height: 1;
    display: flex;
    box-sizing: border-box;
    font: white;
    width:100%
}

#bannerMargin{
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 1700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#aboutUs{
    color: #E61878;
    font-family: "Montserrat", Sans-serif;
    font-size: 24px;
    font-weight: 600;
    width: auto;
    margin-bottom: 0;
    max-width: 100%;
}

#imageContainer {
    width:100%; 
    background-image: url("res/banner1.webp");
}

#bannerHeight {
    height: 220px;
}

#bannerFontH2 {
    font-size: 72px;
    width: 59.491%;
}

#nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index:1;
  }
 
#navHeight {
    padding: 12px 0px 12px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#margin3{
    padding-top: 10rem; 
    margin-bottom: 1.5rem;
}

#margin2 {
    margin-top: 19.92px;
    margin-bottom: 19.92px;
    display:flex;
}

#row {
    display: flex;
}